#Options -Indexes
Options -MultiViews

RewriteEngine On

RewriteCond %{HTTP_HOST} galeadigital\.com [NC]
RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ https://www.galeadigital.com/$1 [R=301,NE]

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA]

